<header>
  <img src="assets/img/douglas.jpg" alt="Douglas Valério - Foto de Perfil" width="130px" height="130px" loading="eager">
  <h1>Douglas Valério</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor Front-end <br /> HTML5 | CSS3 | Javascript | Typescript | Angular</p>
    <p>Caculé, Bahia, Brasil</p>
    <p>
      Bacharel em Sistemas de Informção pela UNIFTC de Vitória da Conquista-BA. Iniciei como Desenvolvedor Front-end pela Velejar Software em Caculé-BA em 2024. 
    </p>
  </div>

  <nav>
    <ul>
      <li>
        <a href="#" target="_blank" class="btn btn-primary">
          Download CV
        </a>
      </li>
      <li>
        <a href="https://br.linkedin.com/in/douglas-valerio" target="_blank" class="btn btn-secondary">
          LinkedIn
        </a>
      </li>
    </ul>
  </nav>

  <section>
    <figure>
      <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do Whatsapp" width="22px" height="24px">

      <figcaption>
        <a href="https://api.whatsapp.com/send?phone=5577981134828&text=Ol%C3%A1%20Douglas,%20preciso%20de%20um%20job!" target="_blank">
          <strong>Envie uma mensagem para:</strong>
          <p>Whatsapp (77) 9 8113-4828</p>
        </a>
      </figcaption>
    </figure>

    <figure>
      <img src="assets/icons/mail.svg" alt="Ícone para contato do E-mail" width="22px" height="24px">

      <figcaption>
        <a href="mailto:douglas.br80@hotmail.com" target="_blank">
          <strong>Envie um e-mail para:</strong>
          <p>douglas.br80&#64;hotmail.com</p>
        </a>
      </figcaption>
    </figure>
  </section>
</aside>